# ------------------------------------------------------------------------------
# Local env and config files
# ------------------------------------------------------------------------------
/*config.toml
!sample.config.toml
!heroku.config.toml
test/docker/config/*
!test/docker/config/bitcoin.conf

# ------------------------------------------------------------------------------
# NodeJS artifacts
# ------------------------------------------------------------------------------
# (yarn.lock is ignored because we are using npm)
node_modules/
npm-debug.log*
.eslintcache
yarn.lock

# ------------------------------------------------------------------------------
# Custom assets
# ------------------------------------------------------------------------------
marketdata/

# ------------------------------------------------------------------------------
# OS junk files
# ------------------------------------------------------------------------------
[Tt]humbs.db
*.DS_Store
