# Run with: docker-compose -f run-mongodb.yml up -d
# Look inside with: docker exec -it mongodb bash
version: "3.8"

services:
  mongodb:
    image : mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 27017:27017
    restart: unless-stopped
